<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNewsLabel" jhiTranslate="eduPlatformApp.news.home.createOrEditLabel">Create or edit a News</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!news.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="news.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduPlatformApp.news.newsHeader" for="field_newsHeader">News Header</label>
            <input type="text" class="form-control" name="newsHeader" id="field_newsHeader"
                [(ngModel)]="news.newsHeader" required/>
            <div [hidden]="!(editForm.controls.newsHeader?.dirty && editForm.controls.newsHeader?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.newsHeader?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduPlatformApp.news.newsDescription" for="field_newsDescription">News Description</label>
            <input type="text" class="form-control" name="newsDescription" id="field_newsDescription"
                [(ngModel)]="news.newsDescription" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduPlatformApp.news.newsDate" for="field_newsDate">News Date</label>
            <div class="d-flex">
                <input id="field_newsDate" type="datetime-local" class="form-control" name="newsDate" [(ngModel)]="news.newsDate"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
