
<div *ngIf="course">
    <h2><span jhiTranslate="eduPlatformApp.course.detail.title">Course</span> {{course.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eduPlatformApp.course.courseTitle">Course Title</span></dt>
        <dd>
            <span>{{course.courseTitle}}</span>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.courseDescription">Course Description</span></dt>
        <dd>
            <span>{{course.courseDescription}}</span>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.courseLevel">Course Level</span></dt>
        <dd>
            <span jhiTranslate="{{'eduPlatformApp.Level.' + course.courseLevel}}">{{course.courseLevel}}</span>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.chargeable">Chargeable</span></dt>
        <dd>
            <span>{{course.chargeable}}</span>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.paymentAmount">Payment Amount</span></dt>
        <dd>
            <span>{{course.paymentAmount}}</span>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.student">Student</span></dt>
        <dd>
            <div *ngIf="course.studentId">
                <a [routerLink]="['/student', course.studentId]">{{course.studentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="eduPlatformApp.course.program">Program</span></dt>
        <dd>
            <div *ngIf="course.programId">
                <a [routerLink]="['/program', course.programId]">{{course.programId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course/'+ course.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
